In [11]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
df = pd.DataFrame({"names":["Jagrata","Rohan", "Shubham"], "marks":[100, 95, 88]})
print(df)

     names  marks
0  Jagrata    100
1    Rohan     95
2  Shubham     88

In [13]:
data = pd.read_csv("Data/people-10.csv")
print(data)

   Index          User Id First Name Last Name     Sex  \
0      1  88F7B33d2bcf9f5     Shelby   Terrell    Male
1      2  f90cD3E76f1A9b9    Phillip   Summers  Female
2      3  DbeAb8CcdfeFC2c   Kristine    Travis    Male
3      4  A31Bee3c201ef58    Yesenia  Martinez    Male
4      5  1bA7A3dc874da3c       Lori      Todd    Male
5      6  bfDD7CDEF5D865B       Erin       Day    Male
6      7  bE9EEf34cB72AF7  Katherine      Buck  Female
7      8  2EFC6A4e77FaEaC    Ricardo    Hinton    Male
8      9  baDcC4DeefD8dEB       Dave   Farrell    Male
9     10  8e4FB470FE19bF0     Isaiah     Downs    Male

                         Email
0         elijah57@example.net
1        bethany14@example.com
2        bthompson@example.com
3    kaitlinkaiser@example.com
4   buchananmanuel@example.net
5          tconner@example.org
6      conniecowan@example.com
7      wyattbishop@example.com
8          nmccann@example.net
9  virginiaterrell@example.org

In [14]:
print(data.describe())

          Index
count  10.00000
mean    5.50000
std     3.02765
min     1.00000
25%     3.25000
50%     5.50000
75%     7.75000
max    10.00000

In [15]:
df = pd.DataFrame({"names":["Jagrata","Rohan", "Shubham"], "marks":[100, 95, 88]})
print(df)

     names  marks
0  Jagrata    100
1    Rohan     95
2  Shubham     88

In [16]:
print(df["names"])

0    Jagrata
1      Rohan
2    Shubham
Name: names, dtype: object

# Handling Missing Data in Pandas: `dropna` and `fillna`
Pandas provides powerful methods to handle missing data in DataFrames:

## `df.dropna()`
- Removes rows (or columns) with missing values (`NaN`).
- By default, it drops any row with at least one missing value.
- You can use `axis=1` to drop columns with missing values.
- Example:
    ```python
    df_clean = df.dropna()  # Drop rows with any NaN values
    df_clean_cols = df.dropna(axis=1)  # Drop columns with any NaN values
    ```

## `df.fillna()`
- Fills missing values (`NaN`) with a specified value.
- You can fill with a constant, or use methods like forward/backward fill.
- Example:
    ```python
    df_filled = df.fillna(0)  # Replace NaN with 0
    df_ffill = df.fillna(method='ffill')  # Forward fill
    df_bfill = df.fillna(method='bfill')  # Backward fill
    ```

These methods help you clean and prepare your data for analysis.

# Saving DataFrames to CSV with `to_csv`
You can save a pandas DataFrame to a CSV file using the `to_csv` method.

**Basic usage:**
```python
df.to_csv('filename.csv')
```

**Options:**
- `index=False` : Do not write row indices to the file.
- `sep=','` : Specify a different separator (default is comma).
- `header=True` : Write column names (default is True).

**Example:**
```python
df.to_csv('output.csv', index=False)  # Save DataFrame without row indices
```

This is useful for exporting your cleaned or processed data for use in other applications.